<ons-list ng-controller="menu">
    <ons-list-item modifier="tappable" ng-click="onClickMenuMemory()">
      <ons-icon icon="ion-ios-time-outline" style="margin: 0px 15px 0px 5px;"></ons-icon>
      Memory
    </ons-list-item>
    
    <ons-list-item modifier="tappable" ng-click="onClickMenuAccsess()">
      <ons-icon icon="fa-building-o" style="margin: 0px 15px 0px 5px;"></ons-icon>
      Accsess
    </ons-list-item>
    
    <ons-list-item modifier="tappable" ng-click="onClickMenuLog()">
      <ons-icon icon="ion-clipboard" style="margin: 0px 15px 0px 5px;"></ons-icon>
      Log
    </ons-list-item>
    
    <ons-list-item modifier="tappable" ng-click="onClickMenuInfo()">
      <ons-icon icon="ion-information-circled" style="margin: 0px 15px 0px 5px;"></ons-icon>
      Info
    </ons-list-item>
    
    <ons-list-item modifier="tappable" ng-click="onClickMenuSetting()">
      <ons-icon icon="ion-gear-a" style="margin: 0px 15px 0px 5px;"></ons-icon>
      Setting
    </ons-list-item>
    
    <ons-list-item modifier="tappable" ng-click="onClickMenuLogin()">
      <ons-icon icon="fa-sign-in" style="margin: 0px 15px 0px 5px;"></ons-icon>
      logout 
    </ons-list-item>
    
</ons-list>