<ons-page ng-controller="MemoryController">

  <ons-toolbar>  
    <div class="right">
      <ons-toolbar-button ng-click="menu.toggleMenu()">
        <ons-icon icon="ion-navicon"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Memory</div>
  </ons-toolbar>
    
  <div ng-show="!isActiveBLE()">
    <div class="center" style="text-align: center; margin: 100px 0px 0px 0px;">
      <ons-icon icon="fa-exclamation-triangle"
          size="100px"
          style="color: hotpink;">
      </ons-icon>
      <p>Please Turn on Bluetooth</p>
    </div>
  </div>

  <div ng-show="isActiveBLE() && !detected()">
    <div class="center" style="text-align: center; margin: 100px 0px 0px 0px;">
      <ons-icon icon="fa-wifi"
          size="100px"
          style="color: #10CFBD;">
      </ons-icon><br>
      <ons-icon icon="ion-social-snapchat-outline"
          size="30px"
          spin=true
          style="color: #4BAFF4;">
      </ons-icon>
      <p>Seaching beacon...</p>
    </div>
  </div>

  <div ng-show="isActiveBLE() && detected()">
    <ons-list-header>INSTANCE</ons-list-header>
    <ons-list modifier="inset">
      <ons-list-item modifier="tappable" ng-repeat="beacon in beacons" ng-click="selectBeacon($index)">
        <ons-row>
          <ons-col width="50px">
            <ons-icon icon="fa-wifi"></ons-icon>
          </ons-col>
          <ons-col>
            <span>
              major: {{beacon.major}}/minor: {{beacon.minor}} 
            </span>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
  </div> 
    
</ons-page>